* {
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  width: 100%;
  background: rgb(43, 92, 226);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/videos/blue.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0px 800px 1px;
  width: 320px;
  box-sizing: border-box;
  height: 600px;
  background: white;
  opacity: 1;
  box-sizing: border-box;

  border: 1px inset white;
}
input {
  margin-bottom: 18px;
}
.form-control:focus {
  box-shadow: none;
}
a {
  text-decoration: none;
  color: rgb(186, 175, 175);
  align-self: flex-start;
  display: block;
  margin-left: 5mm;
  margin-bottom: 2mm;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}