<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" th:href="@{/assets/Images/elections.png}" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Login Page</title>
</head>
<body>
<!--<input type="hidden" value="<%=request.getAttribute("logval")%>" id="loginvalue">-->
<div class="main flex-container">

   <div th:if="${param.error}">
       <script th:inline="javascript">
     swal("Error","Bad Credentials","error")
		  	const colorChange = document.querySelector('.flex-container');
    		colorChange.style=`transition: all 1s ease-in-out 0s; background-image: url("/assets/videos/red.gif");`;
  </script>

    </div>


    <div class="card">
        <div class="login">
            <form th:action="@{/process}" method="post" onsubmit="return LoginValidate()">

                <div
                        align="center"
                        style="
                margin-bottom: 16px;
                font-weight: bolder;
                letter-spacing: 1mm;
                font-size: 24px;
              "
                >
                    Login
                </div>
                <input
                        type="text"
                        name="username"
                        id="email"
                        class="form-control"
                        placeholder="Email or Username"
                />
                <input
                        type="password"
                        name="password"
                        id="pass"
                        class="form-control"
                        placeholder="Password"
                />
                <div class="btn-container">
                    <input
                            type="submit"
                            name="submit"
                            id="submit"
                            value="Login"
                            class="btn btn-primary"
                    />
                    <a th:href="@{/auth/register}">Create Account</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script th:src="@{/js/index.js}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</body>
</html>